[Unit]
Description=Soroban Server
After=syslog.target network.target
[Service]
Type=simple
KillSignal=SIGTERM
SendSIGKILL=no
RestartSec=5s
User=soroban
Group=soroban
ExecStart=/usr/local/bin/soroban --hostname=localhost --port=4242
Restart=always
[Install]
WantedBy=multi-user.target
